<div class="col-md-6">
  <h2> Emplyee Details</h2>
   
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Gender</th>
      <th>Job</th>
      <th>Salary</th>
      <th>Email</th>
      <th>Number</th>
      <th>DOJ</th>
      <th>Action</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let emp of emps">
      <td>{{emp.id}}</td>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.job}}</td>
      <td>{{emp.salary}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.mobileNumber}}</td>
      <td>{{emp.doj}}</td>
      <td>
          <button class="btn btn-warning" (click)="updateEmployee(emp)"> Update</button>
          <button class="btn btn-danger" (click)="deleteEmployee(emp)"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>